.cms table.ss-gridfield-table tbody td.col-buttons {
  min-width: 125px;
}
table.ss-gridfield-table tbody td button.gird-field-message {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none!important;
  background: none;
  height: 18px;
}
table.ss-gridfield-table tbody td button.gird-field-message,
.cms table.ss-gridfield-table tbody td a.edit-link,
.cms table.ss-gridfield-table tbody td button.gridfield-button-delete,
.btn-icon-envelope,
.ui-state-default .ui-icon.btn-icon-envelope,
.cms table.ss-gridfield-table tbody td a.read-more-link {
  width: 16px!important;
}
.cms table.ss-gridfield-table tbody td a.read-more-link:before {
  width: 16px;
}
.cms table.ss-gridfield-table tbody td button.gridfield-button-delete {
  height: 16px;
}
.ui-state-default .ui-icon.btn-icon-cross-circle {
  left: -1px;
}
.btn-icon-envelope,
.ui-state-default .ui-icon.btn-icon-envelope {
  background: none;
  text-indent: inherit;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 0;
  position: relative;
  left: 0;
  top: 0;
  cursor: pointer;
}
.btn-icon-envelope:hover,
.ui-state-default .ui-icon.btn-icon-envelope:hover {
  color: #b0bec7;
}
.btn-icon-envelope:before,
.ui-state-default .ui-icon.btn-icon-envelope:before {
  font-family: 'postmark';
  content: "\e600";
}
.field .chzn-container-single .chzn-single {
  height: 30px;
  line-height: 30px;
}
.field .chzn-container-single .chzn-single div b {
  background-position: 4px 3px;
}
.option-selector-folder-holder .values {
  overflow: hidden;
}
.option-selector-folder-holder .values .item {
  float: left;
  margin: 0 5px 5px 0;
  padding: 3px 4px;
  border: 1px solid #666;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.option-selector-folder-holder .values .item label {
  margin-right: 5px;
}
.option-selector-folder-holder .values .item .remove-selected-object {
  cursor: pointer;
  position: relative;
  top: 1px;
}
.option-selector-folder-holder .values .item .remove-selected-object:hover {
  color: #b0bec7;
}
.option-selector-folder-holder .suggesters {
  background: #fff;
  border: 1px solid #cfcfcf;
  display: none;
}
.option-selector-folder-holder .suggesters .please-wait {
  padding: 7px;
}
.option-selector-folder-holder .suggesters .online-suggestion {
  padding: 7px;
  cursor: pointer;
}
.option-selector-folder-holder .suggesters .online-suggestion:hover {
  background: #eee;
}
