table.ss-gridfield-table tbody td button.gird-field-message {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none!important;
	background: none;
	width: 16px;
    height: 18px;
}
.cms table.ss-gridfield-table tbody td button.gridfield-button-delete {
	width: 26px;
}
.btn-icon-envelope,
.ui-state-default .ui-icon.btn-icon-envelope {
	background: none;
	text-indent: inherit;
	font-size: 14px;
	line-height: 1.2;
	margin-top: 0;
	position: relative;
	left: 0;
	top: 0;
	cursor: pointer;
	
	&:hover {
		color: #b0bec7;	
	}
}
.btn-icon-envelope:before,
.ui-state-default .ui-icon.btn-icon-envelope:before {
	font-family: 'postmark';
	content: "\e600";
}

//icon-close


//
// Message Form
//
.field .chzn-container-single .chzn-single {
	height: 30px;
	line-height: 30px;
}
.field .chzn-container-single .chzn-single div b {
	background-position: 4px 3px;
}



//
//
//
