.messages-holder {
    margin: 10px;
    border-top:  1px solid #f1f1f1;

    .message-item {
        border-bottom: 1px solid #f1f1f1;
        background: #FFF;

        .message-header {
            overflow: hidden;
            cursor: pointer;

            .message-image {
                float: left;
                width: 60px;
                height: 60px;
                text-align: center;
                line-height: 60px;
                background: #f1f1f1;
            }

            .message-details {
                float: left;
                margin-left: 10px;
                padding: 10px;
                font-weight: bold;
            }
        }

        .message-contents {
            display: none;
            padding: 10px;
        }

        &.last {
            .message-contents {
                display: block;
            }
        }


        .message-attachments {
            border-top: 1px solid #f1f1f1;
            padding: 10px 0;
            margin-top: 10px;

            .message-attachment-list {

                a {
                    display: inline-block;
                    height: 32px;
                    line-height: 32px;
                    text-decoration: none;
                    overflow: hidden;
                    padding: 5px;

                    img {
                        float: left;
                        margin-right: 10px;
                    }

                    &:hover {
                        background: #f1f1f1;
                    }

                }
            }
        }
    }
}

